# Series

Series is a collection of any kind of objects.

In [30]:
import pandas as pd
import numpy as np

### Series from differnt kind of data

In [31]:
labels = ['a', 'b', 'c']
mylist = [10, 20, 30]
arr = np.array(mylist)
d = {'a':10, 'b':20, 'c':30}

In [32]:
# from list
pd.Series(mylist)

0    10
1    20
2    30
dtype: int64

In [33]:
# from array
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [34]:
# from list using labels as index
pd.Series(data=mylist, index=labels)

a    10
b    20
c    30
dtype: int64

In [35]:
# from array using labels
pd.Series(arr, labels)       # data=arr, index=labels

a    10
b    20
c    30
dtype: int32

In [36]:
# from dictionary
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [37]:
# from labels
pd.Series(labels)     # labels is also a list

0    a
1    b
2    c
dtype: object

# Series can take any object

In [38]:
def myfunc():
    pass

In [39]:
pd.Series([sum,max,print,int,str,myfunc])

0                    <built-in function sum>
1                    <built-in function max>
2                  <built-in function print>
3                              <class 'int'>
4                              <class 'str'>
5    <function myfunc at 0x000001F6706B2F78>
dtype: object

# Access Series data and Adding two Series

In [40]:
ser1 = pd.Series([1,2,3,4], ['a', 'b', 'c', 'd'])
ser1

a    1
b    2
c    3
d    4
dtype: int64

In [41]:
ser2 = pd.Series([1,2,4,5], ['a', 'kk', 'd', 'e'])
ser2

a     1
kk    2
d     4
e     5
dtype: int64

In [42]:
ser1 + ser2

a     2.0
b     NaN
c     NaN
d     8.0
e     NaN
kk    NaN
dtype: float64

In [43]:
ser1['b']

2

In [44]:
ser2['kk']

2